// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';


body {
  text-align: center;
  font-size: 20px;
  padding: 2.5%;
  font-family: 'Roboto Mono', monospace;
  background:url("./assets/Twitter-Background.png");
}

.profile {
  width: 200px;
  height: 300px;
  border-radius: 8px;
}

